@media (min-width: 544px) {
  $indent-unit: 16px;

  .toc-sidebar {
    padding: 16px 0;
    color: var(--fgColor-default, var(--color-fg-default));
    font-size: 14px;
    h2 {
      margin-bottom: 8px;
    }
    .toc-sidebar-content {
      padding-top: 8px;
      margin-left: -8px;
    }
    a {
      color: inherit;
      font-size: inherit;
      line-height: 20px;
      &:hover {
        text-decoration: none;
      }
    }
    ul {
      list-style: none;
      li {
        border-radius: 6px;
        cursor: pointer;
        appearance: none;
        &:hover {
          background-color: rgba(177, 186, 196, 0.12);
          box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px max(1px, 0.0625rem) inset;
        }
      }
      li > a {
        padding: 6px 8px;
        display: flex;
      }
    }
    .toc-label-h1 {
      font-weight: 600;
    }
    .toc-label-h2 {
      padding-left: $indent-unit * 1;
    }
    .toc-label-h3 {
      padding-left: $indent-unit * 2;
    }
    .toc-label-h4 {
      padding-left: $indent-unit * 3;
    }
    .toc-label-h5 {
      padding-left: $indent-unit * 4;
    }
  }

  .sticky-top {
    position: fixed;
    top: 0;
  }
}
